* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

body {
  height: 1000px; }

.active {
  background-color: white; }

.activetxtColor {
  color: #e10500; }

.onClickDate {
  border: 2px solid #66bb3c !important; }

.activeBorderColor {
  border: 2px solid #66bb3c; }

.switchBtn {
  width: 50px;
  position: absolute;
  left: 50%;
  background-color: lightgray;
  cursor: pointer; }

.calendar.calendar_daymode {
  width: 50%;
  height: 680px;
  text-align: center;
  border: 1px solid lightgray; }
  .calendar.calendar_daymode .calendar_tabWrap {
    background-color: #ede9de;
    width: 100%; }
    .calendar.calendar_daymode .calendar_tabWrap .tabBox {
      height: 50px;
      width: 100%;
      overflow: hidden; }
      .calendar.calendar_daymode .calendar_tabWrap .tabBox div,
      .calendar.calendar_daymode .calendar_tabWrap .tabBox span {
        display: inline-block; }
    .calendar.calendar_daymode .calendar_tabWrap .btn {
      cursor: pointer;
      font-size: 25px;
      width: 3%; }
      .calendar.calendar_daymode .calendar_tabWrap .btn i {
        color: #e10500; }
    .calendar.calendar_daymode .calendar_tabWrap .tab1,
    .calendar.calendar_daymode .calendar_tabWrap .tab2,
    .calendar.calendar_daymode .calendar_tabWrap .tab3 {
      cursor: pointer;
      color: #666;
      font-size: 17px;
      width: 30%;
      padding-bottom: 10px;
      position: relative; }
  .calendar.calendar_daymode .calendar_weeksWrap {
    width: 100%;
    color: #666;
    font-weight: 800; }
    .calendar.calendar_daymode .calendar_weeksWrap span {
      display: inline-block;
      width: 14.2%;
      margin-left: -4px;
      font-size: 16px; }
  .calendar.calendar_daymode .calendar_daysWrap {
    width: 100%; }
    .calendar.calendar_daymode .calendar_daysWrap .disabled {
      background-color: #f8f8f8; }
    .calendar.calendar_daymode .calendar_daysWrap .calendar_days {
      height: 100px;
      padding: 3px;
      width: 14.2%;
      border-top: 1px solid lightgray;
      display: inline-block;
      border-left: 1px solid lightgray;
      float: left;
      font-size: 12px;
      position: relative; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .GuaranteedTripTag {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #66bb3c;
        color: white; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days div {
        text-align: left; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days span {
        display: inline-block; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .status {
        color: #24a07c; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .status_orange {
        color: orange; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .sell {
        color: #666; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .group {
        color: #666; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .price {
        color: #e10500;
        font-weight: 800; }
      .calendar.calendar_daymode .calendar_daysWrap .calendar_days .weekDay {
        color: red;
        display: none; }

.calendar.calendar_listmode {
  width: 50%;
  text-align: center;
  border: 1px solid lightgray; }
  .calendar.calendar_listmode li {
    position: relative;
    border-bottom: 1px solid lightgray; }
  .calendar.calendar_listmode .GuaranteedTripTag {
    position: absolute;
    left: 12%;
    top: 60%;
    background-color: #66bb3c;
    color: white; }
  .calendar.calendar_listmode .calendar_tabWrap {
    background-color: #ede9de;
    width: 100%; }
    .calendar.calendar_listmode .calendar_tabWrap .tabBox {
      height: 50px;
      width: 100%; }
      .calendar.calendar_listmode .calendar_tabWrap .tabBox div,
      .calendar.calendar_listmode .calendar_tabWrap .tabBox span {
        display: inline-block; }
    .calendar.calendar_listmode .calendar_tabWrap .btn {
      cursor: pointer;
      font-size: 25px;
      width: 3%; }
      .calendar.calendar_listmode .calendar_tabWrap .btn i {
        color: #e10500; }
    .calendar.calendar_listmode .calendar_tabWrap .tab1,
    .calendar.calendar_listmode .calendar_tabWrap .tab2,
    .calendar.calendar_listmode .calendar_tabWrap .tab3 {
      cursor: pointer;
      color: #666;
      font-size: 17px;
      width: 30%;
      padding-bottom: 10px;
      position: relative; }
    .calendar.calendar_listmode .calendar_tabWrap .tab {
      cursor: pointer;
      color: #666;
      font-size: 17px;
      width: 30%;
      padding-bottom: 10px; }
  .calendar.calendar_listmode .calendar_weeksWrap {
    display: none; }
  .calendar.calendar_listmode .calendar_days {
    display: none;
    height: 62px; }
    .calendar.calendar_listmode .calendar_days .date,
    .calendar.calendar_listmode .calendar_days .sell,
    .calendar.calendar_listmode .calendar_days .group {
      width: 50%;
      float: left;
      text-align: left;
      font-size: 16px;
      color: #666; }
    .calendar.calendar_listmode .calendar_days .status,
    .calendar.calendar_listmode .calendar_days .price {
      text-align: right;
      float: left;
      width: 50%;
      font-size: 16px;
      padding-right: 10px; }
    .calendar.calendar_listmode .calendar_days .group {
      position: absolute;
      display: inline-block;
      left: 21%;
      font-weight: 400;
      padding-top: 3px; }
    .calendar.calendar_listmode .calendar_days .sell {
      font-weight: 400;
      position: absolute;
      display: inline-block;
      left: 12%;
      padding-top: 3px; }
    .calendar.calendar_listmode .calendar_days .price {
      position: absolute;
      right: 0%;
      bottom: 28%;
      color: #e10500; }
    .calendar.calendar_listmode .calendar_days .date {
      font-size: 30px;
      padding-left: 15px;
      padding-top: 0px; }
    .calendar.calendar_listmode .calendar_days .status {
      color: #24a07c; }
  .calendar.calendar_listmode .hasData {
    display: block; }
  .calendar.calendar_listmode .weekDay {
    width: 100px;
    height: 30px;
    top: 68%;
    left: -3%;
    color: #666;
    position: absolute; }
  .calendar.calendar_listmode .calendar_days.disabled {
    display: none; }
