* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

body {
  height: 1000px; }

.activetxtColor {
  color: #e10500; }

.onClickDate {
  border: 2px solid #66bb3c !important; }

.activeBorderColor {
  border: 2px solid #66bb3c; }

.switchBtn {
  width: 50px;
  position: absolute;
  left: 50%;
  background-color: lightgray; }

.calendars {
  width: 50%;
  height: 680px;
  text-align: center;
  border: 1px solid lightgray; }
  .calendars .calendars_tabWrap {
    background-color: #ede9de;
    width: 100%; }
    .calendars .calendars_tabWrap .tabBox {
      height: 50px;
      width: 100%; }
      .calendars .calendars_tabWrap .tabBox div,
      .calendars .calendars_tabWrap .tabBox span {
        display: inline-block; }
    .calendars .calendars_tabWrap .btn {
      font-size: 20px;
      width: 3%; }
      .calendars .calendars_tabWrap .btn i {
        color: #e10500; }
    .calendars .calendars_tabWrap .tab {
      color: #666;
      font-size: 17px;
      width: 30%;
      padding-bottom: 15px; }
  .calendars .calendars_weeksWrap {
    width: 100%;
    color: #666;
    font-weight: 800; }
    .calendars .calendars_weeksWrap span {
      display: inline-block;
      width: 14.2%;
      margin-left: -4px;
      font-size: 16px; }
  .calendars .calendars_daysWrap {
    width: 100%; }
    .calendars .calendars_daysWrap .disabled {
      background-color: #f8f8f8; }
    .calendars .calendars_daysWrap .calendars_days,
    .calendars .calendars_daysWrap .hasData {
      height: 100px;
      padding: 3px;
      width: 14.2%;
      border-top: 1px solid lightgray;
      display: inline-block;
      border-left: 1px solid lightgray;
      float: left;
      font-size: 12px;
      position: relative; }
      .calendars .calendars_daysWrap .calendars_days .GuaranteedTripTag,
      .calendars .calendars_daysWrap .hasData .GuaranteedTripTag {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #66bb3c;
        color: white; }
      .calendars .calendars_daysWrap .calendars_days div,
      .calendars .calendars_daysWrap .hasData div {
        text-align: left; }
      .calendars .calendars_daysWrap .calendars_days span,
      .calendars .calendars_daysWrap .hasData span {
        display: inline-block; }
      .calendars .calendars_daysWrap .calendars_days .status,
      .calendars .calendars_daysWrap .hasData .status {
        color: #24a07c; }
      .calendars .calendars_daysWrap .calendars_days .status_orange,
      .calendars .calendars_daysWrap .hasData .status_orange {
        color: orange; }
      .calendars .calendars_daysWrap .calendars_days .sell,
      .calendars .calendars_daysWrap .hasData .sell {
        color: #666; }
      .calendars .calendars_daysWrap .calendars_days .group,
      .calendars .calendars_daysWrap .hasData .group {
        color: #666; }
      .calendars .calendars_daysWrap .calendars_days .price,
      .calendars .calendars_daysWrap .hasData .price {
        color: #e10500;
        font-weight: 800; }
  .calendars .calendars_listMode {
    height: 600px; }
    .calendars .calendars_listMode .calendars_weeksWrap {
      display: none; }
    .calendars .calendars_listMode li {
      position: relative;
      border-bottom: 1px solid lightgray; }
    .calendars .calendars_listMode .disabled {
      display: none; }
    .calendars .calendars_listMode .calendars_days {
      height: 85px; }
      .calendars .calendars_listMode .calendars_days .date,
      .calendars .calendars_listMode .calendars_days .sell,
      .calendars .calendars_listMode .calendars_days .group {
        width: 50%;
        float: left;
        text-align: left;
        font-size: 16px;
        color: #666; }
      .calendars .calendars_listMode .calendars_days .status,
      .calendars .calendars_listMode .calendars_days .price {
        text-align: right;
        float: left;
        width: 50%;
        font-size: 16px;
        padding-right: 10px; }
      .calendars .calendars_listMode .calendars_days .group {
        position: absolute;
        display: inline-block;
        left: 18%;
        font-weight: bold;
        padding-top: 11px; }
      .calendars .calendars_listMode .calendars_days .sell {
        font-weight: bold;
        position: absolute;
        display: inline-block;
        left: 7%;
        padding-top: 11px; }
      .calendars .calendars_listMode .calendars_days .price {
        position: absolute;
        right: 0%;
        bottom: 28%;
        color: #e10500; }
      .calendars .calendars_listMode .calendars_days .date {
        font-size: 30px;
        padding-left: 15px;
        padding-top: 11px; }
      .calendars .calendars_listMode .calendars_days .status {
        color: #24a07c; }
