<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.x-git.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	  crossorigin="anonymous">
	<title>Magaele: newCalander</title>
</head>

<body>
	<div>
		@html.include('template.cshtml', { Modifier: 'modifier', Data: 'string'})
	</div>
	<script src="./module.js"></script>
</body>
<script>
	//  ".. / json / data1.json"
	$('.calendar').calendar({
		dataSource: ".. / json / data3.json",
		// 輸入一開始要在哪一個月份 [string] YYYYMM，若輸入的年月沒有資料，
		// 就要找相近的年月，若前一個月後一個月都有資料，就顯示資料比數比較多的那一個月
		initYearMonth: '201710',
		// 設定各資料的key 
		dataKeySetting: {
			// 保證出團 
			'guaranteed': 'guaranteed',
			// 狀態 
			'status': 'status',
			//可賣團位
			'可賣團位': 'onsell',
			// 團位 
			'total': 'total',
			// 價格 
			'price': 'price'
		},

		onClickPrev: function ($btnLeft, data, module) {
			console.log($btnLeft, data, module);
		},
		// 點下一個月時 
		onClickNext: function ($btnRight, data, module) {
			console.log($btnRight, data, module);
		},
		// 點日期時 
		onClickDate: function ($date, data) {
			console.log($date, data);
		}
	});
</script>

</html>
