<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../core/core.css" rel="stylesheet">
	<link href="./css.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.x-git.min.js"></script>
	<title>Magaele: newCalander</title>
</head>

<body>
	<div>
		<div>
			<div>
				@html.include('template.cshtml', { Modifier: 'modifier', Data: 'string'})
			</div>
		</div>
	</div>
	<script src="./module.js"></script>
</body>
<script>
	$('.calendars').calendar({
		dataSource: [{
			"date": "2016/12/15", // {string} YYYY/MM/DD 
			"price": "234567", // {string|number} XXXXXX | 近期上架
			"availableVancancy": 0, // {number} 
			"totalVacnacy": 20, // {number} 
			"status": "報名" // {string} 報名(#24a07c) | 後補(#24a07c) | 預定(#24a07c) | 截止(#ff7800)
		}],
		// 輸入一開始要在哪一個月份 [string] YYYYMM，若輸入的年月沒有資料，
		// 就要找相近的年月，若前一個月後一個月都有資料，就顯示資料比數比較多的那一個月
		initYearMonth: '201705',
		// 設定各資料的key 
		dataKeySetting: {
			// 保證出團 
			'guaranteed': 'guaranteed',
			// 狀態 
			'status': 'status',
			//可賣團位
			'可賣團位': 'availableVancancy',
			// 團位 
			'total': 'totalVacnacy',
			// 價格 
			'price': 'price'
		},

		onClickPrev: function ($btn, data, module) {
			console.log($btn, data, module);
		},
		// 點下一個月時 
		onClickNext: function ($btn, data, module) {
			console.log($btn, data, module);
		},
		// 點日期時 
		onClickDate: function ($date, data) {
			console.log($date, data);
		}
	});
</script>

</html>
